<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MoodBoard 404 Page</title>
  <link rel="shortcut icon" href="/assets/img/moodboard.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <div id="errorPage" class='hidden'>
    <img id="text" src="/assets/img/boardMessage.png" alt="text alert"/>
    <h2>404 Error: It looks like the page you were looking for doesn't exist.</h3>
  </div>
</body>
</html>
