<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MoodBoard 404 Page</title>
  <link rel="shortcut icon" href="/assets/img/"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <section id="content">

  </section>

  <div id="404Page" class='hidden'>
    <img id="text" src="/assets/img/" alt="text alert"/>
    <h2>404 Error: It looks like the page you were looking for doesn't exist.</h3>
    <a href="/maker" class="formSubmit">Go to your Mood Boards</a>
  </div>
</body>
</html>
