<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MoodBoard Detail Page</title>
  <link rel="shortcut icon" href="/assets/img/"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/moodboard.png" alt="mood board logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="content">
    <div id="boardData" data-board-id="{{boardId}}"></div>
    <div id="app"></div>
  </section>

  <div id="boardMessage" class='hidden'>
    {{!-- <img id="text" src="/assets/img/" alt="text alert"/> --}}
    <h3><span id="errorMessage"></span></h3>
    {{!-- <img id="mood board" src="assets/img/" alt="mood board"/> --}}
  </div>
  <script src="/assets/boardDetailBundle.js"></script>
</body>
</html>
