<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MoodBoard</title>
  <link rel="shortcut icon" href="/assets/img/"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/" alt="mood board logo"/></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>
  
  <section id="content">

  </section>

  <div id="boardMessage" class='hidden'>
    <img id="text" src="/assets/img/" alt="text alert"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="mood board" src="assets/img/" alt="mood board"/>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
