<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MoodBoard</title>
  <link rel="shortcut icon" href="/assets/img/mooboard.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav>
    <a href="/login" id="logoLink">
    <img id="logo" src="/assets/img/moodboard.png" alt="mood board logo"/>
    <span class="logo-text">Moodboard Maker</span>
    </a>
    <div class="navlink"><a id="loginButton" href="/login"></a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
  </nav>
  
  <section id="content">

  </section>

  <div id="statusMessage" class='hidden'>
    <img id="text" src="/assets/img/boardMessage.png" alt="text alert"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
