<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodBoard PRO | Premium Upgrade</title>
    <link rel="shortcut icon" href="/assets/img/"/>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
    <nav><a href="/login"><img id="logo" src="/assets/img/" alt="mood board logo"/></a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    
    <div id="app">
        <h1>Loading Premium Details...</h1>
    </div>

    <script src="/assets/premiumBundle.js"></script>
</body>
</html>