<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodBoard PRO | Premium Upgrade</title>
    <link rel="shortcut icon" href="/assets/img/moodboard.png"/>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
    <nav>
    <a href="/maker" id="logoLink">
    <img id="logo" src="/assets/img/moodboard.png" alt="mood board logo"/>
    <span class="logo-text">Moodboard Home</span>
    </a>
    <div class="navlink"><a href="/logout">Log out</a></div>
    </nav>

    <section id="app">
       
    </section>

    <script src="/assets/premiumBundle.js"></script>
</body>
</html>