<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>MoodBoard Settings</title>
  <link rel="shortcut icon" href="/assets/img/"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <a href="/maker" id=logoLink>
    <img id="logo" src="/assets/img/moodboard.png" alt="mood board logo"/>
    <span class="logo-text">Moodboard Home</span>
    </a>
    <div class="navlink"><a href="/logout">Log out</a></div>
  </nav>

  <section id="app" data-intial-data='{{{JSON intialData}}}'>

  </section>

  <div id="statusMessage" class='hidden'>
    <img id="text" src="/assets/img/boardMessage.png" alt="text alert"/>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/settingsBundle.js"></script>
</body>
</html>
